<div class="card card-color" style="border: 4px solid white;">
  <div>
    <!--            title-->
    <input type="text"
           [(ngModel)]="note.title"
           (change)="updateNote()"
           class="input-label-lg"
           maxlength="18"
           style="width: 80%"/>
    <a (click)="deleteNote()" class="pull-right text-danger">
      <i class="fa fa-trash-o"></i>
    </a>
  </div>
  <!--          text-->
  <textarea [(ngModel)]="note.text" (change)="updateNote()" class="input-label"
            style="width: 100%"
            rows="6"></textarea>
  <strong style="background: red" class="text-info">{{note.lastModifieddOn | date: 'yyyy-MM-dd hh:mm a'}}</strong>
</div>
