<app-navigation></app-navigation>
<div class="login-form">
  <form [formGroup]="loginForm" (submit)="loginForm.valid && login(loginForm)">
    <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
    <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div>
    <h2 class="text-center">Log in</h2>
    <div class="form-group">
      <input type="text" name="name" class="form-control" placeholder="Username"
             formControlName="name">
    </div>
    <app-control-messages-form [control]="loginForm.get('name')"></app-control-messages-form>
    <div class="form-group">
      <input type="password" name="password" class="form-control" placeholder="Password"
            formControlName="password">
    </div>
    <app-control-messages-form [control]="loginForm.get('password')"></app-control-messages-form>
    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Log in</button>
    </div>
    <div class="clearfix">
      <label class="float-left form-check-label"><input type="checkbox"> Remember me</label>
      <a href="#" class="float-right">Forgot Password?</a>
    </div>
  </form>
  <p class="text-center"><a href="#">Create an Account</a></p>
  <button routerLink="note">Welcome</button>
</div>
