<app-navigation></app-navigation>
<div class="container">
  <!-- Note menu -->
  <div class="row" style="margin-top:12px;">
    <div class="col-md-8">
      <input type="text"
             class="form-control"
             style="width: 100%;"
             placeholder="Search notes..."
             [(ngModel)]="serchText">
    </div>
    <div class="col-md-4">
      <button type="button" (click)="open(content)"
              class="btn btn-info pName noteull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New notebook
      </button>
      <button type="button" (click)="open(content2)"
              [disabled]="selectedNotebook==null"
              class="btn btn-warning pull-right"
              style="margin-left:12px;"><i class="fa fa-plus"></i> New note
      </button>
    </div>

  </div>
  <!-----------------------------------  okno modalne ------------------------------------------------------------------->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new notebook</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (keyup.enter)="addNotebok() || modal.close('Save click')">
        <div class="form-group">
          <label for="name">Name notebook</label>
          <div class="input-group">
            <input id="name" autofocus [(ngModel)]="newNotebook" name="name" class="form-control">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button id="saveNotebook" type="button" class="btn btn-outline-dark"
              (click)="modal.close('Save click') || addNotebok()">Save
      </button>
    </div>
  </ng-template>
  <!--  --------------------------------------------------------------------------------------------------------------------->
  <!-----------------------------------  okno modalne NEW NOTE ------------------------------------------------------------------->
  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-note">Add new note</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="addNote(selectedNotebook)" (keyup.enter)="addNote(selectedNotebook)">
        <div class="form-group">
          <label for="title">Title note</label>
          <div class="input-group">
            <input id="title" [(ngModel)]="this.newNote2.title" name="title" class="form-control">
          </div>
          <label for="text">Text note</label>
          <div class="input-group">
            <input id="text" [(ngModel)]="this.newNote2.text" name="title" class="form-control">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark"
              (click)="modal.close('Save click') || addNote(selectedNotebook)">Save
      </button>
    </div>
  </ng-template>
  <!--  --------------------------------------------------------------------------------------------------------------------->
  <!-- Note content -->
  <div class="row" style="margin-top: 28px;">
    <!-- Notebooks Menu -->
    <div class="col-md-3">
      <br>
      <div class="list-group list-group-flush">
        <a (click)="selectedAllNotes()" class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;All
        </a>
        <!-- Notebook List -->
        <a *ngFor="let notebook of notebooks" (click)="selectNotebook(notebook)"
           class="list-group-item list-group-item-action">
          <i class="fa fa-book"></i>&nbsp;
          <input [(ngModel)]="notebook.name" (change)="updateNotebook(notebook)" type="text" class="input-label"
                 style="width: 80%"/>
          <a (click)="deleteNotebook(notebook)" class="pull-right text-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </a>
      </div>
    </div>

    <!-- Notes Panel -->
    <div class="col-md-9">
        <div class="text-center">
          <!-- Message if there are no notes -->
          <p *ngIf="selectedNotebook!=null && allDataFetched"
             [ngStyle]="{'font-weight': 'bold'}">
            {{selectedNotebook.name}}</p>
          <p *ngIf="selectedNotebook===null && allDataFetched"
              [ngStyle]="{'font-weight': 'bold'}">
              All notes</p>
          <p *ngIf="notes.length===0 && allDataFetched">There are no notes to display in this notebook :(</p>
          <mat-spinner *ngIf="!allDataFetched"></mat-spinner>
        </div>
      <div class="row">
        <app-note *ngFor="let n of notes | noteTextFilter:serchText" [note]="n" (noteDelete)="deleteNote($event)"
                  (noteUpdate)="updateNote($event)"></app-note>
      </div>
    </div>
  </div>
<!--  alerty-->
  <alert></alert>
</div>
