/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.list-group-item {
  cursor: pointer;
}

.input-label {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.input-label-lg {
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  /*font-size: large;*/
  font-weight: bold;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-control-messages-form div{
  margin: 6px 0;
}

.card-color{
  background: #70bb67;
  border-radius: 10px;
}
.card-color:hover{
  background: #88ca80;
}
